{% extends "myapp/base.html" %} {% load crispy_forms_tags %} {% block content %}
<h2>Create Product</h2>

<form method="POST" id="product-form" enctype="multipart/form-data">
  {% csrf_token %}

  <button class="btn btn-primary" type="submit" name="save">Save</button>
  <!-- <button class="btn btn-primary" type="button">Delete</button> -->
  <button id="cancel-button" class="btn btn-primary">Cancel</button>
  <a href="{% url 'product_list'%}" name="list" class="btn btn-primary">
    List
  </a>
  <br /><br />
  <!-- {{ product_form|crispy }} -->

  <div class="row">
    <div class="col-md-6 mb-0">{{ product_form.name|as_crispy_field }}</div>
    <div class="col-md-6 mb-0">{{ product_form.sku|as_crispy_field }}</div>
  </div>

  <div class="row">
    <div class="col-md-6 mb-0">
      <label for="color">Select Color:</label>
      <select name="color" id="color" class="form-select" multiple>
        {% for color in product_form.colors.field.queryset %}
        <option
          value="{{ color.id }}" {% if color.id in product_form.colors.value %} selected {% endif %}>
          {{ color.name }}
        </option>
        {% endfor %}
      </select>
    </div>

    <div class="col-md-6 mb-0">
      <label for="color">Select Size:</label>
      <select name="size" id="size" class="form-select" multiple>
        {% for size in product_form.sizes.field.queryset %}
        <option
          value="{{ size.id }}" {% if size.id in product_form.sizes.value %} selected {% endif %}>
          {{ size.name }}
        </option>
        {% endfor %}
      </select>
    </div>
  </div>
  <br />

  <div class="row">
    <!-- <div class="col-md-6 mb-0">

    <label for="image"> Product Image: </label>
    <input class="form-control" type="file" id="formFile" name="image"> <br>
    
    <label for="quantity"> Quantity: </label>
    <input name="quantity" class="form-control" type="number" placeholder="Quantity" aria-label="default input example"> <br>
    
    <label for="price"> Price: </label>
    <input name="price" class="form-control" type="number" placeholder="Price" aria-label="default input example">
  </div> -->

    <div class="col-md-6 mb-0">
      {{ product_form.description|as_crispy_field }}
    </div>
  </div>
  <br />
  <button class="btn btn-primary" type="submit" name="generate">
    Generate
  </button>

  <div id="variations-table">
    {% if variations %}
    <h3>Generated Product Variations</h3>
    <table class="table table-striped table-bordered">
      <thead class="font-weight-bold table-primary">
        <tr>
          <th>Product Name</th>
          <th>SKU</th>
          <th>Color</th>
          <th>Size</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Image</th>
          <th>Edit</th>
        </tr>
      </thead>
      <tbody>
        {% for variation in variations %}
        <tr>
          <td>{{ variation.product_name }}</td>
          <td>{{ variation.sku }}</td>
          <td>{{ variation.color_name }}</td>
          <td>{{ variation.size_name }}</td>
          <td>
            <input
              type="number"
              name="quantity_{{ forloop.counter }}"
              value="{{ variation.quantity }}"
            />
          </td>
          <td>
            <input
              type="number"
              name="price_{{ forloop.counter }}"
              value="{{ variation.price }}"
            />
          </td>
          <td>
            <input type="file" name="image_{{ forloop.counter }}" />
          </td>
          <td>
            <button
              class="d-inline"
              type="submit"
              name="delete_variation"
              value="{{ forloop.counter }}"
            >
              <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
            </button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
      {% endif %}
    </table>
  </div>
</form>

<script>
  // Cancel button logic
  document
    .getElementById("cancel-button")
    .addEventListener("click", function () {
      // Hide the variations table
      document.getElementById("variations-table").style.display = "none";

      // Reset the form with the ID "product-form"
      document.getElementById("product-form").reset();
    });
</script>
{% endblock %}
