{% extends "myapp/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<h2>Create Product</h2>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <button class="btn btn-primary" type="submit" name="save">Save</button>
    <button class="btn btn-primary" type="button">Delete</button>
    <button class="btn btn-primary" type="reset">Cancel</button>
    <a href="{% url 'product_list'%}" name="list" class="btn btn-primary">
      List
  </a>
  <br><br>
  <!-- {{ product_form|crispy }} -->

  <div class="row">
    <div class="col-md-6 mb-0">
      {{ product_form.name|as_crispy_field }}
    </div>
    <div class="col-md-6 mb-0">
      {{ product_form.sku|as_crispy_field }}
    </div>
  </div>

  <div class="row">

    <div class="col-md-6 mb-0">
        <label for="color">Select Color:</label>
        <select name="color" id="color" class="form-select" multiple>
            {% for color in colors %}
            <option value="{{ color.id }}">{{ color.name }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="col-md-6 mb-0">
        <label for="color">Select Size:</label>
        <select name="size" id="size" class="form-select" multiple>
            {% for size in sizes %}
            <option value="{{ size.id }}">{{ size.name }}</option>
            {% endfor %}
        </select>
    </div>
</div>
<br>

<div class="row">
  <div class="col-md-6 mb-0">

    <label for="image"> Product Image: </label>
    <input class="form-control" type="file" id="formFile" name="image"> <br>
    
    <label for="quantity"> Quantity: </label>
    <input name="quantity" class="form-control" type="number" placeholder="Quantity" aria-label="default input example"> <br>
    
    <label for="price"> Price: </label>
    <input name="price" class="form-control" type="number" placeholder="Price" aria-label="default input example">
  </div>

      <div class="col-md-6 mb-0">
        {{ product_form.description|as_crispy_field }}
      </div>
</div>

</form>
<hr><br>

<!-- Search Form -->
<h3>Search Product Variations</h3>
<form method="POST" name="searchAndExport">
  {% csrf_token %}
  <div class="row">
    <div class="col-md-4">
      <input type="text" name="search_name" value="{{ search_name }}" placeholder="Search by Product Name" class="form-control">
    </div>
    <div class="col-md-4">
      <select name="search_color" id="color" class="form-select" multiple>
        {% for color in colors %}
        <option value="{{ color.id }}">{{ color.name }}</option>
        {% endfor %}
    </select> </div>

    <div class="col-md-4">
    <select name="search_size" id="size" class="form-select" multiple>
      {% for size in sizes %}
      <option value="{{ size.id }}">{{ size.name }}</option>
      {% endfor %}
  </select>

      <!-- <input type="text" name="search_color" value="{{ search_color }}" placeholder="Search by Color" class="form-control"> -->
    </div>
    <!-- <div class="col-md-4">
      <input type="text" name="search_size" value="{{ search_size }}" placeholder="Search by Size" class="form-control">
    </div> -->

  </div>
  <br>

  <button class="btn btn-outline-primary" type="submit" name="search"> Search</button>
  <input type="submit"  name="export_csv" class="btn btn-outline-success" value="Export">

</form>
<br>

{% if variations %}
    <h3>Search Results</h3>
    <table class="table table-striped table-bordered">
      <thead class="font-weight-bold table-primary">
        <tr>
                <th>No</th>
                <th>Product Name</th>
                <th>Image</th>
                <th>SKU</th>
                <th>Qty</th>
                <th>Price</th>
                <th>Color</th>
                <th>Size</th>
                <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for variation in variations %}
            <td>{{ forloop.counter }}</td>
            <td>{{ variation.product.name }}-{{ variation.color.code }}-{{ variation.size.code }}</td>
            <td>  {% if variation.image %}
                <img src="{{ variation.image.url}}" style="width: 50px; height: auto;" alt="Product Photo">
                {% else %}
                <span>No image</span>
                {% endif %}</td>

            <td>{{ variation.product.sku }}-{{ variation.color.code }}-{{ variation.size.code }}</td>
            <td>{{ variation.quantity }}</td>
            <td>{{ variation.price }}</td>
            <td>{{ variation.color.name }}</td>
            <td>{{ variation.size.name }}</td>
            <td>
              <a href="{% url 'update_product' variation.id %}" class="btn text-secondary px-0">
                <i class="far fa-edit fa-lg"></i>
            </a>
            <form action="{% url 'delete_product' variation.id %}" method="post" class="d-inline" 
            onclick="return confirm('Are you sure you want to delete this stock?');">
                {% csrf_token %}
                <button type="submit" class="btn">
                    <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                </button>
            </form>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

{% else %}
<h5>Product Not Found!!</h5>

{% endif %}
{% endblock %}
