{% extends 'myapp/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <h2>Update Product Variation</h2>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="row">
            <div class="col-md-6">
                <!-- Product Name -->
                <label for="product_name">Product Name</label>
                <input type="text" name="product_name" class="form-control" value="{{ product.name }}">
            </div>
            <div class="col-md-6">
                <!-- Product SKU -->
                <label for="product_sku">Product SKU</label>
                <input type="text" name="product_sku" class="form-control" value="{{ product.sku }}">
            </div>
        </div>

        <h6>Upload Image (Optional)</h6>
        <input type="file" name="image">

        <button class="btn btn-outline-primary" type="submit">Save Changes</button>
        <a href="{% url 'product_list' %}" class="btn btn-outline-secondary">Cancel</a>
    </form>

{% endblock %}
